/* Palette: STAC - Old */
--WHITE: rgb(250, 246, 231);
--1: rgb(193, 203, 200);
--2: rgb(172, 186, 188);
--3: rgb(148, 163, 169);
--4: rgb(126, 144, 151);
--5: rgb(108, 126, 131);
--6: rgb(92, 112, 118);
--7: rgb(77, 95, 101);
--8: rgb(51, 74, 81);
--9: rgb(31, 53, 60);
--BLACK: rgb(17, 28, 29);
--A-1: rgb(230, 164, 205);
--A-2: rgb(220, 136, 184);
--A-4: rgb(208, 114, 170);
--A-5: rgb(191, 55, 119);
--A-6: rgb(152, 35, 89);
--B-1: rgb(253, 136, 116);
--B-3: rgb(245, 86, 54);
--B-4: rgb(235, 57, 32);
--B-5: rgb(222, 27, 17);
--B-6: rgb(150, 55, 40);
--B-7: rgb(120, 47, 36);
--C-3: rgb(247, 113, 44);
--C-5: rgb(161, 95, 56);
--C-6: rgb(126, 79, 50);
--C-7: rgb(98, 80, 48);
--C-35: rgb(255, 185, 124);
--C-37: rgb(230, 180, 120);
--C-43: rgb(227, 167, 97);
--C-53: rgb(224, 182, 121);
--C-54: rgb(213, 157, 100);
--D-2: rgb(255, 146, 0);
--D-4: rgb(167, 126, 30);
--D-6: rgb(98, 87, 33);
--D-8: rgb(63, 72, 48);
--E-2: rgb(230, 166, 0);
--E-4: rgb(157, 134, 24);
--E-6: rgb(118, 110, 44);
--E-34: rgb(255, 214, 64);
--F-1: rgb(255, 223, 0);
--F-31: rgb(254, 245, 179);
--F-32: rgb(255, 239, 95);
--H-2: rgb(162, 214, 49);
--I-4: rgb(81, 179, 39);
--I-5: rgb(0, 146, 33);
--I-6: rgb(0, 101, 40);
--N-2: rgb(112, 194, 223);
--N-4: rgb(0, 148, 208);
--N-6: rgb(0, 111, 189);
--N-8: rgb(0, 84, 154);
--O-1: rgb(175, 206, 237);
--P-2: rgb(151, 159, 205);
--P-4: rgb(110, 121, 184);
--P-6: rgb(86, 98, 167);
--P-8: rgb(47, 70, 135);
--P-40: rgb(138, 83, 168);
--P-60: rgb(186, 121, 200);
--R-2: rgb(207, 143, 185);
--R-4: rgb(169, 109, 165);
--R-6: rgb(131, 74, 123);
--R-8: rgb(92, 54, 91);
--R-21: rgb(96, 72, 66);
--R-40: rgb(213, 0, 37);
--R-41: rgb(137, 91, 84);
--R-50: rgb(255, 59, 90);
--R-55: rgb(190, 118, 107);
--R-60: rgb(255, 36, 104);
--R-71: rgb(226, 150, 134);
--R-80: rgb(244, 106, 152);
--R-91: rgb(109, 93, 94);
--YR-21: rgb(84, 79, 67);
--YR-41: rgb(111, 100, 84);
--YR-60: rgb(222, 122, 45);
--YR-61: rgb(156, 142, 117);
--BG-20: rgb(0, 93, 115);
--BG-21: rgb(23, 77, 81);
--BG-40: rgb(0, 111, 120);
--BG-41: rgb(71, 111, 110);
--BG-60: rgb(0, 154, 146);
--BG-61: rgb(113, 150, 145);
--BG-80: rgb(60, 198, 185);
--BG-81: rgb(164, 200, 196);
--NR-1: rgb(14, 55, 95);
--NR-2: rgb(27, 74, 117);
--NR-4: rgb(78, 112, 166);
--CB-20: rgb(20, 69, 175);
--CB-40: rgb(61, 117, 211);
--CB-60: rgb(122, 158, 226);
--CB-80: rgb(166, 194, 231);
--SF-4: rgb(210, 41, 65);
--RP-80: rgb(255, 143, 207);
--BC-2: rgb(255, 196, 169);
--BC-3A: rgb(253, 182, 162);
--BC-55: rgb(199, 158, 132);
--BW: rgb(228, 243, 229);
