// Palette: Cartoon Colour Cel-Vinyl Chart 
$LY: rgb(180, 192, 0);
$Y: rgb(242, 217, 0);
$GY: rgb(255, 196, 0);
$OY: rgb(245, 133, 0);
$FL: rgb(246, 138, 54);
$O: rgb(234, 82, 0);
$VER: rgb(218, 36, 0);
$RED: rgb(196, 0, 0);
$MR: rgb(168, 15, 34);
$RR: rgb(162, 0, 32);
$MAG: rgb(134, 8, 72);
$V: rgb(104, 56, 104);
$BV: rgb(85, 65, 122);
$BL: rgb(0, 64, 163);
$MBL: rgb(0, 94, 158);
$TU: rgb(0, 77, 112);
$BG: rgb(0, 96, 88);
$DGR: rgb(0, 117, 79);
$GR: rgb(0, 138, 56);
$YG: rgb(0, 166, 32);
$CH: rgb(157, 201, 0);
$OG: rgb(84, 104, 44);
$OD: rgb(124, 124, 31);
$XY: rgb(211, 184, 0);
$XOY: rgb(134, 103, 69);
$XO: rgb(189, 85, 0);
$XVER: rgb(154, 44, 18);
$XR: rgb(127, 45, 17);
$XBV: rgb(69, 57, 115);
$XBL: rgb(0, 67, 123);
$XTU: rgb(0, 81, 102);
$XBG: rgb(0, 90, 93);
$XGR: rgb(0, 101, 73);
$BR: rgb(111, 51, 10);
$RBR: rgb(139, 52, 25);
$LBR: rgb(140, 79, 14);
$OCH: rgb(177, 124, 24);
$TAN: rgb(152, 112, 26);
$SFL: rgb(163, 86, 0);
$MG: rgb(111, 76, 60);
$WG: rgb(90, 64, 42);
$CG: rgb(68, 98, 107);
$RU: rgb(44, 36, 23);
$BS: rgb(95, 40, 17);
$GRAY-1: rgb(217, 216, 201);
$GRAY-2: rgb(207, 206, 191);
$GRAY-3: rgb(199, 200, 187);
$GRAY-4: rgb(191, 193, 182);
$GRAY-5: rgb(183, 185, 175);
$GRAY-6: rgb(173, 176, 169);
$GRAY-7: rgb(167, 170, 165);
$GRAY-8: rgb(159, 163, 158);
$GRAY-9: rgb(153, 158, 152);
$GRAY-10: rgb(145, 149, 144);
$GRAY-11: rgb(141, 145, 140);
$GRAY-12: rgb(134, 138, 133);
$GRAY-13: rgb(128, 132, 127);
$GRAY-14: rgb(123, 127, 122);
$GRAY-15: rgb(117, 121, 116);
$GRAY-16: rgb(113, 116, 112);
$GRAY-17: rgb(108, 111, 107);
$GRAY-18: rgb(103, 107, 103);
$GRAY-19: rgb(98, 101, 96);
$GRAY-20: rgb(94, 97, 94);
$GRAY-21: rgb(90, 93, 89);
$GRAY-22: rgb(86, 88, 84);
$GRAY-23: rgb(82, 85, 81);
$GRAY-24: rgb(78, 81, 77);
$GRAY-25: rgb(74, 77, 74);
$GRAY-26: rgb(70, 73, 69);
$GRAY-27: rgb(66, 69, 65);
$GRAY-28: rgb(65, 67, 64);
$GRAY-29: rgb(62, 64, 61);
$GRAY-30: rgb(59, 61, 58);
$GRAY-31: rgb(57, 59, 55);
$GRAY-32: rgb(53, 55, 52);
$WHITE: rgb(235, 232, 217);
$BLACK: rgb(20, 19, 17);
$RADIANT YELLOW: rgb(224, 240, 0);
$RADIANT OR. YEL.: rgb(255, 141, 0);
$RADIANT ORANGE: rgb(0, 0, 0);
$RADIANT OR. RED: rgb(0, 0, 0);
$RADIANT RED: rgb(255, 0, 24);
$RADIANT PINK: rgb(0, 0, 0);
$RADIANT MAGENTA: rgb(255, 8, 118);
$RADIANT GREEN: rgb(0, 178, 43);
$RADIANT BLUE: rgb(0, 101, 173);
$RADIANT VIOLET: rgb(115, 38, 121);
