// Palette: STAC - Base Chart
$WHITE: rgb(235, 234, 219);
$1: rgb(190, 195, 191);
$2: rgb(172, 177, 175);
$3: rgb(150, 157, 158);
$4: rgb(128, 141, 145);
$5: rgb(114, 122, 124);
$6: rgb(98, 109, 113);
$7: rgb(82, 90, 95);
$8: rgb(59, 66, 71);
$9: rgb(38, 46, 52);
$BLACK: rgb(19, 20, 20);
$PB-1: rgb(255, 197, 215);
$PB-2: rgb(255, 143, 199);
$PB-3: rgb(236, 67, 103);
$PB-4: rgb(216, 27, 61);
$PB-5: rgb(176, 20, 46);
$PB-6: rgb(127, 4, 19);
$B-1: rgb(248, 136, 110);
$B-2: rgb(239, 88, 47);
$B-3: rgb(215, 43, 8);
$B-4: rgb(154, 48, 26);
$B-5: rgb(80, 43, 30);
$OR-1: rgb(255, 161, 82);
$OR-2: rgb(255, 134, 34);
$OR-3: rgb(252, 121, 0);
$OR-4: rgb(245, 100, 0);
$OR-5: rgb(202, 50, 0);
$BO-1: rgb(255, 169, 0);
$BO-2: rgb(250, 135, 0);
$BO-3: rgb(217, 113, 0);
$BO-4: rgb(191, 99, 20);
$BO-5: rgb(169, 73, 30);
$Y-1: rgb(240, 232, 168);
$Y-2: rgb(246, 225, 90);
$Y-3: rgb(243, 206, 0);
$Y-4: rgb(247, 183, 0);
$Y-5: rgb(227, 151, 0);
$Y-6: rgb(172, 118, 16);
$Y-7: rgb(121, 85, 11);
$H-1: rgb(176, 219, 91);
$H-2: rgb(140, 200, 17);
$H-3: rgb(104, 175, 0);
$H-4: rgb(0, 140, 11);
$H-5: rgb(0, 98, 25);
$I-1: rgb(162, 219, 198);
$I-2: rgb(47, 189, 175);
$I-3: rgb(0, 152, 141);
$I-4: rgb(0, 107, 113);
$I-5: rgb(0, 92, 110);
$I-6: rgb(0, 62, 78);
$N-1: rgb(146, 208, 217);
$N-2: rgb(40, 172, 208);
$N-3: rgb(0, 146, 199);
$N-4: rgb(0, 111, 177);
$N-5: rgb(0, 86, 148);
$CB-0: rgb(205, 215, 219);
$CB-1: rgb(180, 202, 222);
$CB-2: rgb(151, 179, 215);
$CB-3: rgb(105, 148, 210);
$CB-4: rgb(46, 105, 189);
$CB-5: rgb(2, 70, 168);
$CB-6: rgb(0, 34, 109);
$P-0: rgb(202, 205, 211);
$P-1: rgb(178, 186, 213);
$P-2: rgb(148, 157, 193);
$P-3: rgb(106, 116, 176);
$P-4: rgb(85, 92, 158);
$P-5: rgb(50, 68, 127);
$V-1: rgb(203, 173, 208);
$V-2: rgb(149, 118, 186);
$V-3: rgb(118, 84, 152);
$V-4: rgb(102, 67, 118);
$V-5: rgb(73, 41, 88);
$V-6: rgb(51, 29, 70);
$A-1: rgb(231, 176, 203);
$A-2: rgb(219, 123, 171);
$A-3: rgb(203, 89, 147);
$A-4: rgb(177, 54, 116);
$A-5: rgb(147, 25, 83);
$RP-1: rgb(243, 176, 179);
$RP-2: rgb(234, 142, 150);
$RP-3: rgb(214, 108, 123);
$RP-4: rgb(162, 68, 83);
$RP-5: rgb(102, 43, 47);
$R-1: rgb(247, 189, 158);
$R-1a: rgb(233, 177, 153);
$R-2: rgb(218, 147, 127);
$R-3: rgb(190, 113, 96);
$R-4: rgb(138, 85, 75);
$R-5: rgb(103, 65, 54);
$CR-0: rgb(227, 187, 154);
$CR-1: rgb(211, 151, 114);
$CR-2: rgb(189, 121, 81);
$CR-3: rgb(159, 87, 26);
$CR-4: rgb(131, 76, 24);
$CR-5: rgb(106, 58, 25);
$CR-6: rgb(72, 45, 25);
$D-1: rgb(248, 198, 148);
$D-2: rgb(249, 179, 114);
$D-3: rgb(227, 159, 91);
$D-4: rgb(190, 124, 61);
$D-5: rgb(158, 102, 45);
$C-1: rgb(246, 218, 162);
$C-1a: rgb(232, 194, 132);
$C-2: rgb(219, 173, 113);
$C-3: rgb(200, 141, 73);
$C-4: rgb(173, 123, 67);
$C-5: rgb(144, 99, 48);
$YR-1: rgb(205, 192, 166);
$YR-2: rgb(178, 161, 131);
$YR-3: rgb(157, 135, 106);
$YR-4: rgb(112, 92, 71);
$YR-5: rgb(89, 71, 54);
$E-0: rgb(236, 219, 160);
$E-1: rgb(242, 210, 121);
$E-2: rgb(202, 166, 45);
$E-3: rgb(166, 134, 0);
$E-4: rgb(118, 100, 40);
$E-5: rgb(92, 83, 40);
$E-6: rgb(76, 75, 50);
$GO-1: rgb(159, 177, 116);
$GO-2: rgb(107, 133, 60);
$GO-3: rgb(77, 104, 43);
$GO-4: rgb(49, 78, 33);
$GO-5: rgb(33, 60, 31);
$GO-6: rgb(30, 43, 28);
$BG-1: rgb(216, 229, 213);
$BG-2: rgb(158, 189, 181);
$BG-3: rgb(108, 144, 139);
$BG-4: rgb(70, 106, 102);
$BG-5: rgb(33, 71, 73);
$O-1: rgb(132, 187, 192);
$O-2: rgb(80, 155, 167);
$O-3: rgb(72, 121, 138);
$O-4: rgb(68, 102, 113);
$O-5: rgb(31, 58, 72);
$NR-1: rgb(133, 163, 194);
$NR-2: rgb(92, 131, 172);
$NR-3: rgb(63, 103, 144);
$NR-4: rgb(16, 66, 110);
$NR-5: rgb(13, 50, 90);
$NR-6: rgb(17, 37, 61);
$Q-1: rgb(187, 173, 198);
$Q-2: rgb(159, 140, 175);
$Q-3: rgb(116, 97, 146);
$Q-4: rgb(89, 72, 111);
$Q-5: rgb(73, 57, 96);
$Q-6: rgb(60, 50, 79);
$X-1: rgb(105, 151, 154);
$X-2: rgb(72, 124, 137);
$X-4: rgb(45, 76, 93);
$X-6: rgb(30, 49, 56);
$X-7: rgb(29, 36, 41);
$X-11: rgb(67, 59, 49);
$X-12: rgb(221, 133, 65);
$X-13: rgb(4, 89, 112);
$X-14: rgb(100, 34, 22);
$X-16: rgb(253, 202, 58);
$X-17: rgb(251, 209, 91);
$X-18: rgb(245, 219, 132);
$X-19: rgb(239, 216, 198);
$X-20: rgb(246, 204, 187);
$X-21: rgb(184, 198, 148);
$X-22: rgb(210, 218, 183);
$X-23: rgb(200, 213, 214);
$X-24: rgb(183, 217, 216);
$X-25: rgb(130, 196, 218);
$X-26: rgb(212, 205, 183);
$X-27: rgb(201, 22, 27);
$X-28: rgb(174, 0, 2);
$X-29: rgb(47, 122, 58);
$X-30: rgb(21, 86, 39);
$S-1: rgb(74, 66, 122);
